
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sity Quest</title>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    a[href^="http://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gm-style-cc div {
    display:none !important;
}
 img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"]{
    display:none !important;
  }
  /*use a custom icon as background for the span which follows the icon*/
  img[src="https://maps.gstatic.com/mapfiles/transit/iw2/6/bus.png"]+span{
display:none !important;
  }
    </style>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/charts/google/other/geo.js"></script>
	<script type="text/javascript" src="assets/js/charts/google/other/trendline.js"></script>
	<script type="text/javascript" src="assets/js/charts/google/other/diff.js"></script>
	<script type="text/javascript" src="assets/js/charts/google/other/sankey.js"></script>
	<script type="text/javascript" src="assets/js/charts/google/other/candlestick.js"></script>
	<!-- /theme JS files -->
    <!-- Theme JS files -->

    	<script type="text/javascript">

$(document).ready ( function () {

    $(document).on ("click", "#send_answer", function () {
    	                   $('#modal_form_vertical').on('hidden.bs.modal', function (e) {
 
										});
    	 val = $('.search_select2').val();
       
        $.ajax({
                  type : 'POST',
                  url : "/check_answer",
                  data : {'city_id':val},
                  success: function (result) {
                      result = JSON.parse(result);

                      if (result['status'] == true){
                          swal({
                            title: "Ура! Ви вірно вгадали населений пункт",
                            text: "Вам нараховано +50 балів",
                            confirmButtonColor: "#4cd964",
                            type: "success"
                          },
                              function(){
                                location.reload();

                              }

                          );

                             


                      }else{
                      	
                          swal({
                            title: "Населений пункт обрано не вірно!",
                            text: "За вгаданий регіон Вам нараховано +5 балів",
                            confirmButtonColor: "#EF5350",
                            type: "error"
                          },
                              function(){
                                location.reload();

                              }

                          );


                      }

                }
            });

    });
});

    // $('#send_answer').on('click',function(){
    //     console.log(1234);
    // });


</script>
	<script type="text/javascript" src="assets/js/plugins/notifications/sweet_alert.min.js"></script>
	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/components_modals.js"></script>
    <script type="text/javascript" src="assets/js/pages/form_select2.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/notifications/bootbox.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
        <script type="text/javascript" src="assets/js/pages/form_select2.js"></script>


	<!-- /theme JS files -->


<script>



    function mod_game() {
    	     swal({
                            title: "Оберіть режим гри",
                            text: '<p><a href="/change_mod/0"><span class="ui-icon-transferthick-e-w"></span><span class="ui-button-text">Стандартний режим</span></button></a></p><p><a href="/change_mod/1"><span class="ui-icon-transferthick-e-w"></span><span class="ui-button-text">Спортивні арени</span></button></a></p><p><a href="/change_mod/2"><span class="ui-icon-transferthick-e-w"></span><span class="ui-button-text">Замки та памʼятки архітектури </span></button></a></p>',
                            confirmButtonColor: "#4cd964",
                            confirmButtonText : "Скасувати",
                            html: true,
                          },
                            
                          );

    }

  function share_buttons() {
    	     swal({
                            title: "Розповісти друзям",
                            text: '<div id="share-buttons style="width: 35px;padding: 5px;border: 0;box-shadow: 0;display: inline;}""><a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a></div>',
                            confirmButtonColor: "#4cd964",
                            confirmButtonText : "Скасувати",
                            html: true,
                          },
                            
                          );

    }

    function check_city_change(region_id) {
              $.ajax({
                  type : 'POST',
                  url : "/get_region_city",
                  data : {'region_id':region_id},
                  success: function (result) {
                      result = JSON.parse(result);
   
                     $('#modal_form_vertical').on('shown.bs.modal', function() {
                        modal = $(this);
                        var html =  '';
                        for (var key in result) {
                            var value = result[key];
                            html += '<option value="'+key+'">'+value+'</option>';  
                        }
                        modal.find(".search_select2").append(html);
                     }).modal('show');

                }
            });
    }

    function check_region(region_id) {

            $.ajax({
                  type : 'POST',
                  url : "/check_region",
                  data : {'region_id':region_id},
                  success: function (result) {
                      result = JSON.parse(result);
                      if (result['status'] == true){


                                check_city_change(region_id);


                      }else{

                          swal({
                            title: " Упс! ...",
                            text: "Обрана область не вірна! з Вас знято 5 балів :(",
                            confirmButtonColor: "#EF5350",
                            type: "error"
                          },
                              function(){
                                location.reload();

                              }

                          );


                      }

                }
            });



    }
 



</script>

</head>

<body>
 <div id="modal_form_vertical" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h5 class="modal-title">Вірно!</h5>
								</div>

								<form id="check_city" action="#">
									<div class="modal-body">


                                    <div class="content-group-lg">
										<h6 class="text-semibold">Оберіть населений пункт:</h6>

										<select name="city" data-placeholder="Оберіть населений пункт" class="search_select2" tabindex="-1" aria-hidden="true">

										</select>
									</div>




									</div>

									<div class="modal-footer">
										<button type='button' class="btn btn-primary" id="send_answer">Підтвердити</button> 
									
									</div>
								</form>
							</div>
						</div>
 </div>
	<!-- Main navbar -->
	<div class="navbar navbar-default header-highlight">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

		
			</ul>

			<p class="navbar-text">
				<span class="label bg-success">Мої Бали: {{ current_user.points }}</span>
			</p>

			<div class="navbar-right">
				<ul class="nav navbar-nav">
				
					

					<li class="dropdown dropdown-user">
						<a class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/placeholder.jpg" alt="">
							<span>{{ current_user.nickname }} </span>
							<i class="caret"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="/admin"><i class="icon-user-plus"></i>Адміністрування</a></li>
							<li><a href="#" onclick="share_buttons()"> <i class="icon-comment-discussion"></i> Розповісти друзям</a></li>
							<li class="divider"></li>
							<li><a href="#" onclick="mod_game()"><i class="icon-cog5"></i>Режим гри</a></li>
							<li><a href="{{ url_for('logout') }}"><i class="icon-switch2"></i>Вийти</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">




					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->

{% for region in regions %}

    <li><a onclick='check_region({{region}})' href="#" id="{{region}}"><i class="icon-pin-alt"></i> <span> {{regions[region|string].decode('utf-8')}}</span></a></li>

                      {% endfor %}

                            </ul>



						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->



			<!-- Main content -->
			<div class="content-wrapper">


<div id="map" style="width:100%;height:500px"></div>
<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Рейтинг гравців</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						<a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

					

						<div class="table-responsive">
							<table class="table table-columned">
								<thead>
									<tr>
										<th>Позиція</th>
										<th>Імя</th>
										<th>Остання активність</th>
										<th>Бали</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Test Test</td>
										<td>29.05.2018 23:19</td>
										<td>1310</td>
									</tr>
		
								</tbody>
							</table>
						</div>
					</div>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->


    <script>
      function initPano() {
        // Note: constructed panorama objects have visible: true
        // set by default.
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('map'), {
              position: {lat: {{data['lat']}}, lng: {{data['lng']}}},
              addressControlOptions: {
                position: google.maps.ControlPosition.BOTTOM_CENTER
              },
              linksControl: false,
              panControl: true,
              enableCloseButton: false,
              scrollwheel:false,
              showRoadLabels: false,
                addressControl:false,
                addressControlOptions:false,
                disableDefaultUI:false
        });
      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8qnUtAO7UDytgmEUqwbYEBWoNVvebcpI&callback=initPano">
    </script>
<script type="text/javascript">
      $(".search_select2").select2();
</script>
</body>
</html>
